<div class="ui grid">
    <!-- Header -->
  <div class="sixteen wide column" id="header">
    <h1>Cửa Hàng Anh Tú</h1>
  </div>

  <!-- Danh mục -->
  <div class="five wide column" id="menu">
    <h2>Danh Mục</h2>
    <ol type="1">
      <li *ngFor="let product of products">
        {{product.name}}
        <app-menu-list [productList]="product.items"></app-menu-list>
      </li>
        
    </ol>
    

  </div>

  <!-- Content -->
  <div class="eleven wide column" id="content">
    <h2>Content</h2>

  </div>

</div>